.home-button {
  position: fixed; /* Đặt vị trí cố định */
  top: 20px; /* Khoảng cách từ trên xuống */
  left: 20px; /* Khoảng cách từ bên trái */
  background-color: #007bff; /* Màu nền */
  color: white; /* Màu chữ */
  padding: 10px 15px; /* Padding cho nút */
  border-radius: 5px; /* Bo góc */
  text-decoration: none; /* Bỏ gạch chân */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.home-button:hover {
  background-color: #0056b3; /* Màu nền khi hover */
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  transition: transform 0.3s ease;
}


.book-title {
  margin: 0;
  font-size: 24px;
}

.book-author {
  margin: 10px 0;
  font-size: 12px;
  color: #555;
  border: rgb(115, 115, 115) 1px solid;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2)
}

.book-description {
  margin: 15px 0;
  font-size: 16px;
}

.chapter-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.chapter-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Chia thành 3 cột */
  gap: 15px;
  /* Khoảng cách giữa các mục */
}

.chapter-item {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
  overflow: hidden;
  /* Ẩn nội dung vượt quá */
  white-space: nowrap;
  /* Không cho xuống dòng */
  text-overflow: ellipsis;
  /* Hiển thị dấu ba chấm */
}

.chapter-item:hover {
  background-color: #d1d1d1;
  /* Màu nền khi hover */
}