<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh mục</title>
    <link rel="stylesheet" href="../style/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <aside class="flex justify-center space-x-20">
        <div class="search-container">
          <input type="text" id="search-input" placeholder="Tìm kiếm..." />
          <select id="filter-dropdown">
            <option value="">Sắp xếp</option>
            <option value="1">Theo bảng chữ cái</option>
            <option value="2">Theo ngày đăng</option>
            <option value="3">Theo ngày cập nhật</option>
          </select>
        </div>
      </aside>

      <article class="space-y-10" style="margin-top: 20px">
        <div class="books-container"></div>
      </article>

      <div class="container-add-book hover:shadow-lg">
        <button><a href="newBook.html">Thêm mới</a></button>
      </div>
    </main>

    <script type="module" src="../scripts/index.js"></script>
  </body>
</html>
