<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông tin sách</title>
    <link rel="stylesheet" href="../style/info.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body style="margin: 0px 150px">
    <a href="index.html" class="fixed-button home-button">Trang Chủ</a> <!-- Nút quay về trang chủ -->
    <a href="" class="fixed-button new-chapter-button">Thêm chương</a>
    <header>
      
    </header>
    <hr />
    <article style="padding: 20px; margin: 20px 0px">
      <h1 style="font-weight: bold; font-size: 20px">DANH SÁCH CHƯƠNG</h1>
      <div class="chapter-list">
        <!-- <a href="#" class="chapter-item" data-chapter-id="1">Chương 1: Mở đầu</a>
        <a href="#" class="chapter-item" data-chapter-id="2">Chương 2: Hành trình khám phá những điều kỳ diệu của cuộc sống</a>
        <a href="#" class="chapter-item" data-chapter-id="3">Chương 3: Khám phá</a> -->
      </div>
    </article>
    <script type="module" src="../scripts/info.js"></script>
  </body>
</html>
